<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url "main" %}" class="text_menu">Главная</a>
            <a href="{% url "catalog" %}" class="text_menu">Специалисты</a>
            <a href="{% url "info" %}" class="text_menu">О нас</a>
        </div>
    </header>    

    <main>
        {% block main %}{% endblock main %}
    </main>
    {% block script %}{% endblock script %}

    <footer>
        <p>
            <a href="https://github.com/frol1k3" class="text_menu">github frol1k3</a>
        </p>
    </footer>
</body>
</html>