<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Главная</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url "index" %}">Главная</a>
            <a href="">Специалисты</a>
            <a href="">О нас</a>
        </div>
    </header>    

    <main>
        {% block main %}{% endblock main %}
    </main>

    {% block script %}{% endblock script %}

    <footer>
        <p>
            <a href="https://github.com/frol1k3" class="text_menu">github frol1k3</a>
        </p>
    </footer>
</body>
</html>