<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Главная</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url "main" %}" class="text_menu">Главная</a>
            <a href="{% url "catalog" %}" class="text_menu">Вакансии</a>
            <a href="{% url "info" %}" class="text_menu">О нас</a>
            {% if user.profile.role %}
                <a href="{% url "create_vacancy" %}" class="text_menu">Создать вакансию</a>
            {% endif %}
        </div>
        <div>
            {% if user.is_authenticated %}
                <a class="text_menu" href= "{% url 'account' user.id %}" ><img class="cart" src="/static/account.png"></a>
            {% else %}
                <a href="{% url 'login' %}" class="text_menu">Войти</a>
                <a href="{% url 'registration' %}" class="text_menu">Зарегистрироваться</a>
            {% endif %}
        </div>
    </header>    

    <main>
        {% block main %}{% endblock main %}
    </main>
    {% block script %}{% endblock script %}

    <footer>
        <p>
            <a href="https://github.com/frol1k3" class="text_menu">github frol1k3</a>
        </p>
    </footer>
</body>
</html>